{% extends "base.html" %}
{% block body %}
{% for active_quest in  active_quests %}
{% load static %}
<div class="card bg-dark text-white" id="card" onClick="window.location.href='/'">
  <img class="card-img" id="card_image" src="{% static active_quest.image_directory %}" alt="Card image" >
  <div class="card-img-overlay">
    <h5 class="card-title" id="title">{{ active_quest.name }}</h5>
    <p class="card-text" id="description">{{ active_quest.description }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}